#article-container h1 {
  text-align: center;
  font-family: "寒蝉全圆体";
}

#article-container h2 {
	counter-increment: counter_h1;
	counter-reset: counter_h2;
  font-family: "寒蝉全圆体";
}
#article-container h2:before {
	content: "¶"counter(counter_h1)"  ";
  font-family: "寒蝉全圆体";
}

#article-container h3 {
	counter-increment: counter_h2;
	counter-reset: counter_h3;
  font-family: "寒蝉全圆体";
}
#article-container h3:before {
	content: counter(counter_h1)"."counter(counter_h2)"  ";
  font-family: "寒蝉全圆体";
}

#article-container h4{
	counter-increment: counter_h3;
	counter-reset: counter_h4;
  font-family: "寒蝉全圆体";
}
#article-container h4:before {
	content: counter(counter_h1)"."counter(counter_h2)"."counter(counter_h3)"  ";
  font-family: "寒蝉全圆体";
}

#article-container h5{
	counter-increment: counter_h4;
	counter-reset: counter_h5;
  font-family: "寒蝉全圆体";
}
#article-container h5:before {
    font-family: "寒蝉全圆体";
	content: counter(counter_h1)"."counter(counter_h2)"."counter(counter_h3).counter(counter_h4)"  ";
}


/*
#recent-posts .recent-post-item > .recent-post-info > .content {
  font-family: "寒蝉锦书宋";
}
#article-container ol li, #article-container ul li,
#article-container p {
  font-family: "寒蝉锦书宋";
}

b, strong {
  font-family: "寒蝉锦书宋";
  font-weight: bolder;
}
*/

/* 引用古宋体 */

#article-container blockquote{
  font-family: "ChillKai" , palatino linotype,book antiqua,Palatino,stkaiti,kaiti,楷体,simkai,dfkai-sb,nsimsun,serif;
} 


/*
#article-container h2:after,
#article-container h3:after,
#article-container h4:after,
#article-container h5:after,
#article-container h6:after {
  font-family: "iconfont";
  content: "\e640";
}
*/

/* 标题黑体 */
/*
#article-container h1,
#article-container h2,
#article-container h3,
#article-container h4,
#article-container h5,
#article-container h6 {
  font-family: sans-serif,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei";
}
*/



/* 卡片样式 
.cardHover, .error404 #error-wrap .error-content, .layout > div:first-child:not(.recent-posts), #recent-posts > .recent-post-item, #aside-content .card-widget, .layout > .recent-posts .pagination > *:not(.space) {
    box-shadow: none!important;
    border-radius: 12px;
    box-sizing: border-box;
    /* 透明背景 
    background: rgba(255, 255, 255, 0);
  }*/
.mt-toot-avatar-image-big img {
    width: 100% !important;
  }

/* #article-container img {
    display: block;
    box-shadow: 0 0 10px #555;
    border-radius: 14px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0 10px #555;
} */
#article-container img,
#article-container .flink .flink-list > .flink-list-item a .flink-item-icon img {
  margin:0 auto 0px;
}

.img-alt {
/*  margin: -5px 0px -5px;*/
  font-family: "ChillKai", palatino linotype,book antiqua,Palatino,stkaiti,kaiti,楷体,simkai,dfkai-sb,nsimsun,serif;
  color: #858585;}

  /*阴影修改 + 文本阴影 */
:root{
  --card-box-shadow: 0 0px 1px 0.6px rgba(0,0,0,0.5);
  text-shadow: 0 0 0.75px #828282;
}

/* 加宽布局 
.layout { max-width: max-content;}
*/
/* 删除页尾 */
#footer-wrap {
  padding: 0px 9px;
}

u {
  text-decoration: none;
  border-bottom: 1px solid #fe5f58;
}

.markmap-container div{
  font: "ChillKai", palatino linotype,book antiqua,Palatino,stkaiti,kaiti,楷体,simkai,dfkai-sb,nsimsun,serif;
}

#post .tag_share .post-meta__tags {
  display: inline-block;
  margin: 0px 0px 16px 8px
  padding: 0 12px;
  justify-content: center;
}

/*
@font-face {
  font-family: 'shusong';	
  src: url("https://blog.si-on.top/pdf/fonts/HanyiSentySong.woff2");
  font-weight: normal;
  font-style: normal;
}*/

#icat-equipment > h2 {
  margin: 20px 7px 0;
}
#icat-equipment .equipment-desc {
  margin: 0 7px;
  color: var(--icat-secondtext);
}
#icat-equipment {
  padding-bottom: 12px;
}
#icat-equipment .equipment {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 0;
  gap: 16px;
}
/* 初始化 */

#icat-equipment .equipment > .icat-equipment-box {
  border: 1px solid var(--icat-secondbg);
  background: var(--icat-card-bg);
  width: calc(100% / 4 - 12px);
  border-radius: 12px;
  overflow: hidden;
}
#icat-equipment .equipment .icat-equipment-box img {
  min-width: 100%;
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  animation:fadeIn 1s;
  cursor:pointer;
  transition:all .4s ease-in-out;
}
#icat-equipment .equipment .icat-equipment-box img:hover {
	transform:scale(1.03);
}
#icat-equipment .equipment .icat-equipment-box .icat-equipment-content {
  padding: 16px;
}
#icat-equipment .equipment .icat-equipment-box .icat-equipment-content .icat-equipment-name {
  color: var(--icat-fontcolor);
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#icat-equipment .equipment .icat-equipment-box .icat-equipment-content .icat-equipment-custom {
  font-size: 12px;
  color: var(--icat-secondtext);
  line-height: 1;
  margin-bottom: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#icat-equipment .equipment .icat-equipment-box .icat-equipment-content .icat-equipment-opinion {
  line-height: 20px;
  color: var(--icat-secondtext);
  height: 60px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 16px;
}
#icat-equipment .equipment .icat-equipment-box .icat-equipment-content .icat-equipment-box-more {
  display: flex;
  justify-content: space-between;
}

#icat-equipment .equipment .icat-equipment-box .icat-equipment-content .icat-equipment-box-more a {
  font-size: 12px;
  background: var(--icat-gray-op);
  color: var(--icat-fontcolor);
  padding: 4px 12px;
  border-radius: 6px;
  letter-spacing: 1px;
}
#icat-equipment .equipment .icat-equipment-box .icat-equipment-content .icat-equipment-box-more a:hover {
  color: var(--icat-white);
  background: var(--icat-blue);
  box-shadow: 0 8px 16px -4px var(--icat-black-op);
}
/* 好物页基础样式 */

@media screen and (max-width: 900px) {
  #icat-equipment .equipment {
    gap: 10px;
  }
  #icat-equipment .equipment > .icat-equipment-box {
    width: calc(100% / 3 - 7px);
  }
}
@media screen and (max-width: 768px) {
  #icat-equipment .equipment {
    gap: 8px;
  }
  #icat-equipment .equipment > .icat-equipment-box {
    width: 100%;
  }
  #icat-equipment .equipment .icat-equipment-box img {
    height: 220px;
  }
}
/* 响应式 */

/* 我的好物样式 */



.exif-info {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.4;
  z-index: 10;
}

[data-theme="dark"]
  #post .post-copyright {
    background-color: rgb(7 8 10);
    text-shadow: #bfbeb8 1px 0 4px;
  }
[data-theme="dark"]
  #post .post-copyright {
    border: 1px solid rgb(19 18 18 / 35%);
  }
[data-theme="dark"]
  .post-copyright-info {
    color: #e0e0e4;
  }
#post .post-copyright__title{
    font-size:22px;
}
#post .post-copyright__notice{
    font-size:15px;
}

:root {
  --primary-color: #ff7800;
  --primary-color-alpha: rgba(255, 120, 0, 0.1);
  --edge-highlight:  #ff7800;
  --rounded-corner: 0.1px;
}

.crt {
  margin: 1rem 0 1rem;
  box-shadow: var(--edge-highlight), 0 0 0 0.0625rem rgba(255, 120, 0, 0.1), 0 0.125rem 0.375rem 0.125rem rgba(255, 120, 0, 0.1), 0 0.25rem 1.5rem 0.25rem rgba(255, 120, 0, 0.1);
  border-radius: var(--rounded-corner);
  background: radial-gradient(rgb(0 0 0 / 0.7), rgb(0 0 0 / 0.85)), var(--primary-color);
}
.crt pre {
  animation: flicker 0.25s alternate infinite;
  /* margin: 0; */
  box-shadow: none;
  background-color: transparent !important;
  /* padding: 1rem 1rem; */
  color: var(--primary-color) !important;
  text-shadow: rgba(255, 120, 0, 0.1) 0 0 0.25rem, var(--primary-color) 0 0 0.75rem;
}
@keyframes flicker {
  25% {
    opacity: 0.95;
  }
  50% {
    opacity: 0.85;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0.9;
  }
}
.scanlines {
  position: relative;
  overflow: hidden;
}
.scanlines::before {
  display: block;
  position: absolute;
  z-index: 1;
  animation: scanlines 0.1s linear infinite;
  inset: 0;
  background-image: repeating-linear-gradient(to bottom, rgb(0 0 0 / 0.25), rgb(0 0 0 / 0.25) 0.125rem, transparent 0.125rem, transparent 0.25rem);
  pointer-events: none;
  content: "";
}
@keyframes scanlines {
  to {
    background-position-y: 0.25rem;
  }
}
.scanlines::after {
  display: block;
  position: absolute;
  animation: scanline 5s linear infinite;
  inset: 0;
  background-image: linear-gradient(to bottom, transparent, rgba(255, 120, 0, 0.1) 7rem, transparent 8rem);
  background-size: auto 8rem;
  background-repeat: no-repeat;
  background-position-y: -8rem;
  pointer-events: none;
  content: "";
}
@keyframes scanline {
  50%, to {
    background-position-y: calc(100% + 8rem);
  }
}
.cursor {
  animation: cursor-blink 1s infinite;
}
@keyframes cursor-blink {
  50% {
    opacity: 0;
  }
}
